<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.css">

  <!-- My CSS -->
  <style>
    * {
      color: white;
    }
  </style>

  <title>Game not finished</title>
</head>
<body class="bg-dark">
  <div class="container">
    <h1>Too many players abandoned the game, so it did not finish. Please play again</h1>
  </div>
</body>
</html>