* {
  color: white;
}

#ready-switch {
  height: 20px;
  width: 50px;
}

#ready-switch-label {
  width: fit-content;
  height: fit-content;
}

#game-board-table {
  margin: 0;
  padding: 0;
  border: none;
  width: 440px;
  height: 440px;
  background-image: url('../images/board-resized.png');
}

#game-board-table > tr {
  border: none;
  height: 40px;
}

#game-board-table > tr > td {
  border: none;
  width: 40px;
}
