* {
  color: white;
}

#ready-switch {
  height: 20px;
  width: 50px;
}

#ready-switch-label {
  width: fit-content;
  height: fit-content;
}

#game-board-table {
  margin: 0;
  padding: 0;
  border: none;
  width: 440px;
  height: 440px;
  background-image: url('../images/board-resized.png');
}

#game-board-table > tr {
  border: none;
  height: 40px;
}

#game-board-table > tr > td {
  border: none;
  width: 40px;
}

/* image {
  width: 30px !important;
  height: 30px !important;
} */

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#ghost {
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.dice-image {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.player-pill {
  width: 100%;
  height: 50px;
  max-width: 150px;
  border-radius: 5px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.player-red {
  background: crimson;
}

.player-blue {
  background: deepskyblue;
}

.player-green {
  background: lawngreen;
}

.player-yellow {
  background: gold;
}
